.NavBar-container {
    padding: var(--s) var(--m);
    background-color: var(--primary);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0px;
    z-index: 1;
  }
  
  .NavBar-title {
    color: var(--white);
    font-size: 20px;
  }
  
  .NavBar-linkContainer 
  {
    flex-basis: 0;
    margin-left: var(--s);
  }
  
  .NavBar-link,
  .NavBar-link:visited {
    color: var(--white);
    opacity: 0.6;
    text-decoration: none;
    padding: var(--m);
  }
  
  .NavBar-link:hover {
    opacity: 0.8;
  }
  
  .NavBar-link + .NavBar-link {
    margin-left: var(--m);
  }
  